<div class="body-landing">
    {{#if success_msg}}
    <div class="alert alert-success" style="text-align:center;">{{success_msg}}</div>
    {{/if}} {{#if error_msg}}
    <div class="alert alert-danger" style="text-align:center;">{{error_msg}}</div>
    {{/if}}
    <div class="container">
        <h2>THIS PORTAL AUTOMATES THE EXTERNAL AND INTERNAL EXAMINER ASSIGNMENT FOR ALL THE COLLEGES OF UTTRAKHAND TECHNICAL
            UNIVERSITY </h2>
        <p>
            The Uttarakhand Technical University, Dehradun was established on 27th January 2005 by Govt. of Uttarakhand through the Uttarakhand
            Technical University Act 2005. The Uttarakhand Technical University campus is situated at NH-72 Suddhowala, Dehradun.
            Dehradun is the State capital of Uttarakhand well connected through Rail, Road and Air transport.
            <br><br> The University has been established in an area of 8.372 hectare and it is the only affiliating University
            of the state for technical institutions. There are 8 Constituent and 132 affiliated colleges with 33,000 students
            in various courses mentioned below:
            <p>
                <ul class="courses">
                    <li>Bachelor of Technology (B.Tech) </li>
                    <li>Bachelor of Pharmacy (B.Pharm)</li>
                    <li>Bachelor of Hotel Management and Catering Technology (BHMCT)</li>
                    <li>Master of Business Administration (MBA)</li>
                    <li>Master of Computer Application (MCA)</li>
                    <li>Master of Pharmacy (M.Pharm)</li>
                    <li>Master of Technology (M.Tech): 720</li>
                    <li>Professional Courses</li>
                </ul>
                <p>
                    The University imparts education in Graduate, Post Graduate and Doctorate programmes in various disciplines like Management,
                    Engineering, Hotel Management, Computer Application, Pharmacy etc. The University is serving the technical
                    education through its progress monitored each semester, part time Ph.D programme especially designed
                    for the teachers and scientists by giving them opportunity to explore the untouched area of the research.
                    The University in its own campus running M.Tech and M.Pharma Programme in various disciplines. Apart
                    from this University is having 8 Constituent Colleges. Spreading Technical Education in the remote underprivileged
                    area of Uttarakhand hills.
                </p>

    </div>
</div>